@import url("base.css");

.main-content
{
    width: 100%;
    padding: 5rem 1rem;
    overflow: hidden;
}
.main-content__heading
{
    text-align: center;
}


/* PROJECT LIST */
.project-list__section
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background: var(--card-background);
    border-radius: 6px;
    padding: 3vw;
    gap: 3vw;
}
.project-list__heading
{
    flex-basis: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--main-section-heading-color);
}

.project-list
{
    width: 100%;
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(auto-fit, minmax(min(31ch, 100%), 1fr));
    transition: all 1s ease;
}

.project-list__card
{
    border-radius: 6px;
    box-shadow: 3px 3px 7px rgba(160, 120, 90, 0.8);
    transition: opacity 0.1s ease, transform 0.3s ease;
}


.project-list__card--maximized
{
    --heading-color: #b00020;
    width: 100%;
    z-index: 42000;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    background-color: var(--card-background);
    flex-direction: column;
}
.project-list__card-content--maximized
{
    width: 100%;
    padding: 5vw;
}
.project-list__card-text-heading
{
    margin: 1rem 0;
    width: 100%;
    text-align: left;
    color: var(--heading-color);
    text-shadow: none;
}
.project-list__card-thumb--maximized
{
    margin: 5vh 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.project-list__card-text--maximized
{
    display: inline-block;
    width: 100%;
    color: black;
    font-weight: normal;
    text-shadow: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.project-list__card-feature-list
{
    list-style-type: disc;
    list-style-position: inside;
    width: 100%;
}
.project-list__card-feature
{
    text-align: left;
    color: black;
    text-shadow: none;
}
.project-list__card-feature::marker
{
    content: "- ";
}
.project-list__card-screenshot-list
{
    display: grid;
    gap: 0.5rem;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}
.project-list__card-screenshot-item
{
    display: inline-block;
}
.project-list__card-screenshot
{
    width: 100%;
    min-height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}
.project-list__card-live-link
{
    color: var(--card-link-color);
}

.project-list__card.moving
{
    z-index: 1000;
    position: absolute;
    transition: none;
    resize: both;
    touch-action: none;
    user-select: none;
    box-shadow: 3px 3px 7px rgba(75, 75, 75, 0.8);

}
.project-list__card-frame
{
    background-color: var(--window-bg-color);
    background: var(--window-bg-gradient);

    width: 100%;
    display: grid;
    align-content: center;
    padding: 0.5rem;
    grid-template-columns: 1fr auto 1fr;
}
.project-list__card-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    grid-column: 2;
    cursor: default;
}
.project-list__card-actions
{
    display: flex;
    margin-top: auto;
    flex-wrap: nowrap;
    grid-column: 3;
    justify-self: end;
    justify-content: space-evenly;
    min-height: 0;
    flex: 1 1 auto;
    gap: 0.5rem;
}
.project-list__card-content
{
    width: 100%;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
}
.project-list__card-thumb
{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.project-list__card-description
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 6rem;
    overflow-y: auto;
    border: solid black 1px;
}

.project-list__card-text
{
    display: inline-block;
    color: black;
    font-weight: normal;
    max-width: 95%;
    text-shadow: none;
    margin: auto;
}

.project-list__card-tech-section
{
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--window-bg-color);
    width: 100%;
}

.project-list__card-tech-stack
{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    background-color: var(--window-bg-color);
    overflow-x: auto;
    padding: 0 0.5rem;
    min-width: 100%;
}
.project-list__card-tech-stack.auto-scroll
{
    animation: scroll 10s linear infinite;
}
.project-list__card-tech-stack-item
{
    margin: 0.5rem 0;
    background: var(--window-bg-gradient);
    border: solid 0.5 black;
    scroll-snap-align: start;
}
.project-list__card-tech-stack-link
{
    display: inline-flex;
    margin: 0 auto;
    padding: 0.2rem .8rem;
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 100%;
}
.project-list__card-tech-stack-icon
{
    width: 1rem;
    height: 1rem;
}


/* WINDOW ACTION BUTTONS */
.project-list__card-actions button
{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.project-list__card-action-button
{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
}
/* Individual circle colors */
.project-list__card-minimize
{
    background-color: #f4bf4f; /* yellow-ish */
}
.project-list__card-minimize:hover
{
    background-color: yellow;
}

.project-list__card-maximize
{
    background-color: #58cb42; /* green-ish */
}
.project-list__card-maximize:hover
{
    background-color: greenyellow;
}

.project-list__card-close
{
    background-color: #ed5f56; /* red-ish */
}
.project-list__card-close:hover
{
    background-color: lightcoral;
}

.project-list__card--closing
{
  opacity: 0;
  transform: scale(0.95); 
}


/* ANIMATIONS */
@keyframes scroll
{
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

