.taskbar
{
    --footer-text-color: #9602a1;

    position: fixed;
    bottom: 0%;
    min-width: 100vw;
    display: flex;
    background: var(--window-bg-gradient);
    background-color: var(--window-bg-color);
}
.taskbar.hidden
{
    bottom: 100%;
}


.taskbar__clock {
    font-family: "Segoe UI", "Ubuntu", sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4px 15px;
    border-radius: 4px;
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    transition: bottom background-color 0.2s ease;
    margin-left: auto;
  }
