.navbar {
    min-width: 100vw;
    height: clamp(10vh, max(12vh, 3rem), 20vh);
    border: solid black 1px;
    display: flex;
}
.navbar__nav {
    min-width: 70%;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;

}
.navbar__menu {
    display: flex;
    justify-content: end;
}
.navbar > .navbar__nav > .navbar__menu > .navbar__li:not(:last-child) {
    margin-right: 0.5rem;
}