@keyframes glow {
    0% {
      text-shadow:
      0 0 5px rgba(255, 127, 80, 0.3),
      0 0 10px rgba(255, 127, 80, 0.2),
      0 0 15px rgba(217, 78, 31, 0.1);
    }
    25% {
      text-shadow:
      0 0 12px #ff7f50,
      0 0 17px #ff7f50,
      0 0 22px #d94e1f;
    }
    50% {
      text-shadow:
      0 0 19px #ff7f50,
      0 0 24px #ff7f50,
      0 0 29px #d94e1f;
    }
    75% {
      text-shadow:
      0 0 12px #ff7f50,
      0 0 17px #ff7f50,
      0 0 22px #d94e1f;
    }
    100% {
      text-shadow:
      0 0 5px rgba(255, 127, 80, 0.2),
      0 0 10px rgba(255, 127, 80, 0.1),
      0 0 15px rgba(217, 78, 31, 0.05);
    }
}